.font-white{
    color:#fff ;
}
html,body{
    height: 100%;
    width: 100%;
}
body {
    webkit-print-color-adjust: exact !important;
}
#app{
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.nav-tabs > li > button {
  color: #d3d3d3;
}

/**地圖物件**/
#map{
    width: 100%;
    height: 88%;
}
.navbar{
    width: 100%;
    height: 12%;
    background-color:#EA96BC;
}

.navbar-content{
    color: #ffff;
    font-size: 15px;
    margin-left: 2%;
    letter-spacing: 1px;
}

.navbar-content h1{
    font-size: 26px;
    font-weight:bolder;
}

.navbar-content h2{
    font-size: 18px;
}

#map-coordinate{
    position: absolute;
    z-index: 99999999;
    top: 95vh;
    right: 100px;
    background-color:#3C4E54;
    display: flex;
    align-items: center;
    font-size: 12px;
    border-radius: 10px;
    padding: 3px 5px;
    justify-content: center;
    color: #fff;
    width: 350px;
}
#map-coordinate .info:first-child{
    width: 185px;
}

.panel{
    height: 100%;
    width: 300px;
    position: absolute;
    z-index: 9999;
    padding: 1%;
    background-color:#ffffff;
    color:#fff;
    padding: 15px 20px 15px 20px
}

.panel-container{
    height: 100%;
    color:#fff;
    background-color: #E7D2DC;
    border-radius: 5px;
    padding: 15px;
}

.form-check-input:checked {
    background-color: #87A6CA!important;
    border-color: #0d6efd;
}

.rainfall-container {
    position:absolute; 
    padding: 10px;
    width: auto; 
    height: auto; 
    top:150px; 
    right:50px; 
    background-color: transparent;
    z-index: 999;
}
.requiredWater-container {
    position:absolute; 
    padding: 10px;
    width: auto; 
    height: auto; 
    bottom:50px; 
    right:50px; 
    background-color:  transparent;
    z-index: 999;
}

