<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow to Paddies</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="./css/main.css">
    
    <!---leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="//unpkg.com/@sjaakp/leaflet-search/dist/leaflet-search.js"></script>
    <script src="https://unpkg.com/geojson-vt@3.2.0/geojson-vt.js"></script>
    <script src="./js/leaflet.ajax.min.js"></script>

    <!---bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!--fontawesome--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!---jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!---ChartJS-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>

    <!---Vuetify-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

</head>
<body>
    <!--地圖經緯度資訊-->
    <div id='map-coordinate' class= "d-print-none">
        <div class="info ">
            <div id="currentWGS84" style="padding: 2px 0 2px 0;">經緯度<span id="currentWGS84Txt"></span></div>
        </div>
        <div class="info">
            <div id="mapScale" style="padding: 2px 0 2px 0;"> | <span id="zoomLevel"></span></div>
            <div><span id="mapScaleTxt"></span></div>
        </div>
    </div>
    <!--地圖主頁面-->
    <div id="app">
        <!--上方導覽列-->
        <div class='navbar d-flex align-items-center justify-content-left d-print-none'>
            <div class='navbar-content'>
                <h1>水稻渠成</h1>      
                <h2>灌溉資訊整合儀表板</h2>      
            </div>                                             
        </div>
        <div  id="rainfall-container" class="rainfall-container"></div>
        <div id="requiredWater-container" class="requiredWater-container"></div>
        <!--側邊視窗-->
        <div id="sidepanel" class="panel">
            <div class="panel-container">
                
                <div>
                    <h5><b>基本圖層套疊</b></h5>
                    <!---div>
                        地區選擇
                        <select name="" id="classifyattributes">
                            <option value="yunlin">雲林</option>
                            <option value="chiayi">嘉義</option>
                            <option value="tainan">台南</option>
                        </select>
                        <br><br> 
                    </div--->
                    <div class="form-check"> 
                        <div id="layer-attributes" style="color: #ffffff;">          
                            <span style="color: #87A6CA; font-size: 20px; font-weight: bold;" ><i class="fa fa-tint" aria-hidden="true"></i>雨量資訊</span>
                            <div class="form-switch form-check ms-2">
                                <label for="rainStation" class="form-check-label">降雨測站</label>
                                <input type="checkbox" class="form-check-input" id="rainStation"  v-model= "rainStationChecked">
                            </div>
                            <div class="form-switch form-check ms-2">
                                <label for="watershed" class="form-check-label">降雨量估計</label>
                                <input type="checkbox" class="form-check-input" id="rainAccum"  v-model= "rainAccumChecked">
                            </div>
                            <br>
                            <span style="color: #87A6CA; font-size: 20px; font-weight: bold;" ><i class="fa fa-tint" aria-hidden="true"></i>灌溉資訊</span>
                            <div class="form-switch form-check ms-2">
                                <label for="river" class="form-check-label">河川</label>
                                <input type="checkbox" class="form-check-input" id="river" v-model= "riverChecked">
                            </div>
                            <div class="form-switch form-check ms-2">
                                <label for="irrigation" class="form-check-label">農業灌溉渠道</label>
                                <input type="checkbox" class="form-check-input" id="irrigation"  v-model= "irrigationChecked">
                            </div>
                            <div class="form-switch form-check ms-2">
                                <label for="parcel" class="form-check-label">灌溉配水權重</label>
                                <input type="checkbox" class="form-check-input" id="parcelWeight" v-model="weightsChecked">
                            </div>   
                            <div class="form-switch form-check ms-2">
                                <label for="irrigation" class="form-check-label">灌溉組別需水量</label>
                                <input type="checkbox" class="form-check-input" id="irrigationRot"  v-model= "RotChecked">
                            </div>    
                            <br>
                            <span style="color: #87A6CA; font-size: 20px; font-weight: bold;" ><i class="fa-solid fa-layer-group"></i> 地理區界</span>
                            <div class="form-switch form-check ms-2">
                                <label for="irrigation" class="form-check-label">縣市界圖</label>
                                <input type="checkbox" class="form-check-input" id="county"  v-model= "countyChecked">
                            </div>                  
                        </div>                
                    </div>   
                </div>
            </div>
        </div>   
    
        <!--主要地圖-->
        <div id="map"></div>

    </div>
</body>
    <!-----jquery---->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-----Vue---->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
                                                                                                                                                                                                                                                            
    <!--Map JS Script-->
    <script src="./js/main.js"></script>
    <script src="./js/leaflet-geojson-vt.js"></script>
    </html>